[package]
name = "zero2prod"
version = "0.1.0"
edition = "2024"

[dependencies]
cargo-watch = "8.5.3"

# On Linux:
# - Ubuntu, `sudo apt-get install lld clang`
# - Arch, `sudo pacman -S lld clang`
[target.x86_64-unknown-linux-gnu]
rustflags = ["-C", "linker=clang", "-C", "link-arg=-fuse-ld=lld"]
